{%extends './layout.html'%}

{%block content%}
	<div class='container'>
		<div class='well'>
			<form action='/salespeople' method='POST'>
				<input type="text" name="name" value="Name">
				<button type="submit" class='btn btn-primary'>Add Sales Person</button>
			</form>
		</div>
    should we call them salesPeople?
		{% for person in people %}
			<div class='panel panel-default'>
				<div class='panel-heading'>{{person.name}}
					<form action='/salespeople/{{person.id}}?_method=DELETE' method='POST' style='display: inline'>
						<button class='btn btn-danger pull-right'>Delete</button>
						<br clear='all'>
					</form>
				</div>
				<div class='panel-body'>
					<ul class='list-group'>
						{% for region in regions %}
							{%if person.hasRegion(region.id) %}
								<li class='list-group-item list-group-item-success'>
								{{region.zip}}
								<form action='/salespersonregions/{{person.id}}/{{region.id}}?&backURL=/salespeople&_method=DELETE' method='POST' style='display: inline'>
									<button class='btn btn-danger pull-right'>Remove</button>
									<br clear='all'>
								</form>
								</li>
							{% else %}
								<li class='list-group-item'>
								{{region.zip}}
								<form action='/salespersonregions/{{person.id}}/{{region.id}}/?backURL=/salespeople' method='POST' style='display: inline'>
									<button class='btn pull-right'>Add</button>
									<br clear='all'>
								</form>
								</li>
							{%endif%}
						{%endfor%}
					</ul>
				</div>
			</div>
		{%endfor%}
	</div>
{%endblock%}
