{%extends './layout.html'%}

{%block content%}
	<div class='well'>
		<form>
			<input type="text" name="name" value="Name">
			<button type="submit" class='btn btn-primary'>Add Sales Person</button>
		</form>
	</div>
	{% for person in salespeople %}
		<salespersonpanel class='panel panel-default'>
			<div class='panel-heading'>{{person.name}}</div>
			<div class='panel-body'>
				<li>
					{{person.salespersonregions[0].region.zip}}
				</li>	
			</div>
		</salespersonpanel>
	{%endfor%}
{%endblock%}