{%extends './layout.html'%}

{%block content%}
	<div class='container'>
		<div class='well'>
			<form action='/salespeople' method='POST'>
				<input type="text" name="name" value="Name">
				<button type="submit" class='btn btn-primary'>Add Sales Person</button>
			</form>
		</div>
		{% for person in people %}
			<div class='panel panel-default'>
				<div class='panel-heading'>{{person.name}}
					<form action='/salespeople/{{person.id}}?_method=DELETE' method='POST' style='display: inline'>
						<button class='btn btn-danger pull-right'>Delete</button>
						<br clear='all'>
					</form>
				</div>
				<div class='panel-body'>
					<ul class='list-group'>
						{% for region in regions %}
						<li class='list-group-item'>
							{{region.zip}}
							{%if region.salespersonregions.length > 0 %}
								{%if region.salespersonregions[0].salesperson.name === person.name%}
									<form action='/salespersonregions/{{person.id}}/{{region.id}}?&backURL=/salespeople&_method=DELETE' method='POST' style='display: inline'>
										<button class='btn btn-danger pull-right'>Remove</button>
										<br clear='all'>
									</form>
								{% else %}
									<form action='/salespersonregions/{{person.id}}/{{region.id}}/?backURL=/salespeople' method='POST' style='display: inline'>
										<button class='btn pull-right'>AddIn</button>
										<br clear='all'>
									</form>
								{%endif%}
							{%else%}
								<form action='/salespersonregions/{{person.id}}/{{region.id}}/?backURL=/salespeople' method='POST' style='display: inline'>
									<button class='btn pull-right'>AddOut</button>
									<br clear='all'>
								</form>
							{%endif%}
						</li>
						{%endfor%}
					</ul>
				</div>
			</div>
		{%endfor%}
	</div>
{%endblock%}